.test {
	margin-top:1rem;
	margin-bottom:1rem;
	border: 2px solid #263238;
	border-radius: 0.5rem;
}

div.citation {
	padding: 1rem;
	padding: 1rem;
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
	border-bottom-width: 2px;
	border-bottom-style: solid;
}

.target {
	padding: 1rem;
}

.references {
	padding: 1rem;
	border-top-width: 1px;
	border-top-style: solid;
}

.references:last-child {
	border-bottom-left-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
}

.citation p,
.target p,
.references p {
	margin: 0;
}

.success {
	border-color: #1B5E20;
	background-color: #E8F5E9;
}

.failure {
	border-color: #B71C1C;
	background-color: #FFEBEE;
}

.citation.failure {
	border-bottom-style: double;
	border-bottom-width: 5px;
}

.references.failure {
	border-top-style: double;
	border-top-width: 3px;
}

.roman,
em i,
em em {
	font-style: normal;
}

dt {
	float: left;
	font-weight: bold;
}
